.modalclosebtn {
    z-index: 1000;
    position: fixed;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 12px 0 0 268px;
}

.sub_cap {
    font-family: var(--subtitle-caption-font);
    font-size: var(--subtitle-caption-font-size);
    line-height: var(--subtitle-caption-line-height);
    font-weight: 700; /* 해당 스타일이 Bold인 경우에만 추가 */
}

.comment {
    z-index: 1;
    position: relative;
    color: rgba(0, 0, 0, 0.3);
    text-align: center;
    left: 0;
    right: 0;
    margin: 489px 0 0 0;
}

/* @keyframes slideIn2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.slide_in2 {
    animation: slideIn2 3s; 
} */
