/* .background_bg {
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
} */

.layout_page {
    position: relative;
    text-align: left;
}

.header_navbar {
    display: flex;
    width: 40px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;

    /* color */
    border: 0.1px solid #fff; /* 선의 두께와 색상 설정 */
    background-color: #fff;
}

.header_margin {
    padding: 20px 0 20px 12px;
}

.header_navbar_line {
    width: 20px;
    height: 3px;
    flex-shrink: 0;
    background-color: #000;
}
